services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:1.120.4
    container_name: n8n
    restart: unless-stopped
    env_file:
      - .env
    environment:
      TZ: ${TZ}
      N8N_HOST: ${N8N_HOST}
      N8N_PORT: ${N8N_PORT}
      N8N_PROTOCOL: ${N8N_PROTOCOL}
      N8N_EDITOR_BASE_URL: ${N8N_EDITOR_BASE_URL}
      WEBHOOK_URL: ${WEBHOOK_URL}
    ports:
      - "${N8N_PORT:-5678}:5678"
    volumes:
      - ./data:/home/node/.n8n
    user: "${LOCAL_UID:-1000}:${LOCAL_GID:-1000}"
    init: true
